<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
  <a class="navbar-brand">
    <span class="d-block d-lg-none">Fatih Toker</span>
    <span class="d-none d-lg-block">
          <img class="img-fluid img-profile rounded-circle mx-auto mb-2" routerLink="/" src="../../assets/img/profile.jpeg" alt="">
        </span>
  </a>
  <button class="navbar-toggler" type="button" (click)="toggleMenu()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [style.display]="displayState" fxLayout="column">
    <ul class="navbar-nav" *ngFor="let menu of menus">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="menu.routerLink" (click)="toggleMenu()">{{ menu.name }}</a>
      </li>
    </ul>
  </div>
</nav>
