<section class="resume-section p-3 p-lg-5 d-flex flex-column">
  <div class="my-auto">
    <h2 class="mb-5">Experience</h2>

    <div class="resume-item d-flex flex-column flex-md-row mb-5">
      <div class="resume-content mr-auto">
        <h3 class="mb-0">Full Stack Web Developer</h3>
        <div class="subheading mb-3">Anadolu University</div>
        <p>Working in large projects using by thousands of university personnel. Mainly using 'Symfony'(a PHP Framework based on MVC architecture.) for backend and 'Angular 4+'(A very popular, modular JS framework for large projects) for frontend. Using 'Atlassian' Services for continuous integration. It is providing me a good understanding of working large groups in enterprises. </p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">November 2017 - Present</span>
      </div>
    </div>
    <hr>
    <div class="resume-item d-flex flex-column flex-md-row mb-5">
      <div class="resume-content mr-auto">
        <h3 class="mb-0">Computer Engineering Intern</h3>
        <div class="subheading mb-3">Piton R&D and Software House</div>
        <p>Worked in a group to do a chosen project by the group. Developed a Django Project separately (from group) using 'Scrapy' -a web scraping package for Python-.</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">July 2017 - August 2017</span>
      </div>
    </div>
    <hr>
    <div class="resume-item d-flex flex-column flex-md-row">
      <div class="resume-content mr-auto">
        <h3 class="mb-0">Computer Engineering Intern</h3>
        <div class="subheading mb-3">Efe Eroğlu IT Technologies </div>
        <p>Worked in several Java Tasks to improve algorithm and programming skills.</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">June 2016 - July 2016</span>
      </div>
    </div>

  </div>

</section>
