<section class="resume-section p-3 p-lg-5 d-flex flex-column">
  <div class="my-auto">
    <h2 class="mb-5">Skills</h2>

    <div class="subheading mb-3">Programming Languages &amp; Tools</div>
    <ul class="list-inline dev-icons">
      <li class="list-inline-item">
        <i class="fab fa-html5" ngbTooltip="HTML5"></i>
      </li>
      <li class="list-inline-item">
        <i class="fab fa-css3-alt" ngbTooltip="CSS3"></i>
      </li>
      <li class="list-inline-item">
        <i class="fab fa-js-square" ngbTooltip="Javascript"></i>
      </li>
      <li class="list-inline-item">
        <i class="fab fa-angular" ngbTooltip="Angular 4+"></i>
      </li>
      <li class="list-inline-item">
        <i class="fab fa-php" ngbTooltip="(Symfony Framework)"></i>
      </li>
      <li class="list-inline-item" ngbTooltip="NodeJs">
        <i class="fab fa-node-js"></i>
      </li>
      <li class="list-inline-item" ngbTooltip="npm">
        <i class="fab fa-npm"></i>
      </li>
      <li class="list-inline-item" ngbTooltip="Java">
        <i class="fab fa-java"></i>
      </li>
      <li class="list-inline-item" ngbTooltip="includes Django RESTful">
        <i class="fab fa-python"></i>
      </li>
      <li class="list-inline-item" ngbTooltip="Git">
        <i class="fab fa-git-square"></i>
      </li>
    </ul>
    <hr>
    <div class="subheading mb-3">Additional Technologies</div>
    <ul class="fa-ul mb-0">
      <li>
        <i class="fa-li fa fa-cogs"></i>
        Bootstrap</li>
      <li>
        <i class="fa-li fa fa-cogs"></i>
        MySql</li>
      <li>
        <i class="fa-li fa fa-cogs"></i>
        ORM</li>
      <li>
        <i class="fa-li fa fa-cogs"></i>
        Atlassian Tools</li>
      <li>
        <i class="fa-li fa fa-cogs"></i>
        Webpack</li>
      <li>
        <i class="fa-li fa fa-cogs"></i>
        Web Scraping</li>
    </ul>
    <hr>
    <div class="subheading mb-3">Workflow</div>
    <ul class="fa-ul mb-0">
      <li>
        <i class="fa-li fa fa-check"></i>
        Backend Development with Security, Database (with ORM), Controllers and Services</li>
      <li>
        <i class="fa-li fa fa-check"></i>
        Frontend Development with custom Components</li>
      <li>
        <i class="fa-li fa fa-check"></i>
        Testing and Development</li>
      <li>
        <i class="fa-li fa fa-check"></i>
        Agile Development &amp; Scrum</li>
    </ul>
    <hr>
    <div class="subheading mb-3">Languages</div>
    <ul class="fa-ul mb-0">
      <li>
        <i class="fa-li fa fa-language"></i>
        Turkish - Mother Tongue
        </li>
      <li>
        <i class="fa-li fa fa-language"></i>
        English - Advanced</li>
      <li>
        <i class="fa-li fa fa-language"></i>
        German - Beginner</li>
    </ul>
  </div>
</section>
